.text-center {
    text-align: center;
    background-color: black;
    color: rgb(237, 21, 219);
    padding: 10px;
}

.bg-red {
    background: rgb(31, 206, 237);
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}