@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button {
    font-size: larger;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background: lightgreen;
    text-align: end;
}

.btn {
    background: red;
    color: white;
}

.btn2 {
    background: rgb(18, 237, 18);
    color: white;
}

.btn3 {
    background-color: rgb(0, 128, 68);
    color: white;
}